<div class="row">
    <div class="col-lg-6 offset-lg-2">
        <div class="card" style="width: 42rem;">
            <div class="card-body">

                <h2 class='text-center border-bottom p-3 mb-3'><strong>NEW RECEIPTS</strong></h2>

                <%= render 'form', receipt: @receipt %>

                <%= link_to 'Back', receipts_path %>
            </div>
        </div>
    </div>
</div>