<footer class="p-1 mb-2 bg-dark text-white">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a class="text-warning" > Reiwa Taxi</a>
    </div>
  <!-- Copyright -->

</footer>